.body {
    padding: 0;
    margin: 0; 
    background-color: #fff;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
}

.about {
    width: 350px;
    height: 192px;
    margin: 0px auto;
    margin-top: 250px;
    margin-bottom: 40px;
}

.about__photo {
    display: block;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    border-radius: 64px;
    background-color: #fff;
    filter: grayscale(100%);
}

.about-photo img {
    border-radius: 0;
}

.about__intro {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
} 

.about__text {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.portfolio__intro {
    margin-bottom: 40px;
}
.portfolio__textintro {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.portfolio__blocksone {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portfolio__blockssecond {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.portfolio__block {
    width: 600px;
    height: 320px;
    text-align: center;
    margin-bottom: 50px;
    filter: grayscale(100%);
}

.portfolio__block:hover {
    filter: grayscale(0);
}

/*
.portfolio__image {
    filter: grayscale(100%);
}

.portfolio__imagejs {
    filter: grayscale(100%);
}

*/

.portfolio__info {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    margin-left: 65px;
}

.portfolio__textjs {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    margin-left: -40px;
}

.portfolio__block a {
    text-decoration: none;
}

.portfolio__blockintro {
    display: none;
}

.wrapper__social {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

.social__github {
    width: 64px;
    height: 64px;
    background-color: #fff;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
    cursor: pointer;
}

.social__github:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(0, -5px)
}

.social__mail {
    width: 64px;
    height: 64px;
    background-color: #fff;
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
    cursor: pointer;
}

.social__mail:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(0, -5px)
}

.social__tg {
    width: 64px;
    height: 64px;
    background-color: #fff;
    background-image: url(../img/telegram-logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 32px;
    cursor: pointer;
}

.social__tg:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(0, -5px)
}

